.about{
  display: none;
  min-height: calc(100vh - 80px);
  width: 100%;
  padding-top: 30px;
  .mainContent{
    .aboutBox{
      text-align: center;
      overflow: scroll;
      .myPhotoBox{
        display: inline-block;
        vertical-align: top;
        margin: 20px;
        text-align: center;
        height: 600px;
        width: 500px;
        .myPhoto{
          display: inline-block;
          margin: 10px;
          height: 450px;
          width: 450px;
          border: solid 5px rgb(255, 255, 255);
          border-radius: 50%;
          background-image: url("/images/vapor.jpg");
          background-repeat: no-repeat;
          background-position: 0 100%;
          background-size: 550px;
        }
        p{
          color: rgb(255, 255, 255);
          margin-top: 50px;
          font-family: Georgia, 'Times New Roman', Times, serif;
          font-size: 20px;
        }
      }
      .aboutMeBox{
        display: inline-block;
        margin: 20px;
        height: 600px;
        width: 500px;
        color: rgb(255, 255, 255);
        border: solid 1px rgb(255,255,255);
        p{
          margin-left: 10px;
          text-align: left;
          line-height: 50px;
        }
      }
    }
  }
}