.index{
  min-height: calc(100vh - 80px);
  width: 100%;
  padding-top: 30px;
  .boxes{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    .flex-box{
      display: flex;
      .box{
        display: inline-block;
        text-align: center;
        line-height: 300px;
        margin: 0;
        height: 300px;
        width: 100px;
        transform: perspective(350px);
        border: 1px solid rgba(24, 24, 88, 0.795);
      }
      .active{
        text-align: center;
        line-height: 300px;
      }
    }
  }
  #text{
    display: inline-block;
    color: #fff;
    opacity: 0;
    font-family: 'Times New Roman', Times, serif;
  }

  #box1{
    background: linear-gradient(to right,#00ccff 40%, #007d9c);
  }

  #box2{
    background: linear-gradient(to right, #00a2ff 40%, #00639c);
  }

  #box3{
    background: linear-gradient(to right, #0077ff 40%, #004ba0);
  }

  #box4{
    background: linear-gradient(to right, #002fff 40%, #001b96);
  }

  #box5{
    background: linear-gradient(to right, #4c00ff 40%, #280086);
  }

  #box6{
    background: linear-gradient(to right, #6800df 40%, #360074);
  }
}