.opb{
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  z-index: 999;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  p{
    display: inline-block;
    position: absolute;
    left: 100%;
    line-height: 30vh;
    font-size: 25vh;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    margin: 0;
  }
}

.bbg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  z-index: 998;
}

@media only screen and (max-width: 767px){
  .opb{
    p{
      font-size: 10vh; 
    }
  }
}