.works{
  display: none;
  min-height: calc(100vh - 80px);
  width: 100%;
  padding-top: 30px;
  .worksContener{
    text-align: center;
    overflow: scroll;
    .workText{
      position: relative;
      z-index: 10;
      padding-top:  20px;
      display: inline-block;
      height: 200px;
      width: 400px;
      text-align: center;
      // margin: 60px 30px;
      color: #fff;
      border: 1px solid rgb(255, 255, 255);
      i{
        font-size: 80px;
      }
    }
    .workPhoto{
      z-index: 0;
      position: relative;
      display: inline-block;
      height: 200px;
      width: 400px;
      background-color: pink;
    }
  }
}