header {
  position: relative;
  display: block;
  height: 50px;
  width: 100%;
}
header .miniBoxes {
  display: none;
  position: absolute;
  bottom: 0;
  right: 30px;
}
header .miniBoxes .flex-box {
  display: flex;
}
header .miniBoxes .flex-box .miniBox {
  display: inline-block;
  margin: 0;
  height: 30px;
  width: 10px;
  transform: perspective(50px);
  border: 1px solid rgba(24, 24, 88, 0.795);
}
