.index {
  min-height: calc(100vh - 80px);
  width: 100%;
  padding-top: 30px;
}
.index .boxes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.index .boxes .flex-box {
  display: flex;
}
.index .boxes .flex-box .box {
  display: inline-block;
  text-align: center;
  line-height: 300px;
  margin: 0;
  height: 300px;
  width: 100px;
  transform: perspective(350px);
  border: 1px solid rgba(24, 24, 88, 0.795);
}
.index .boxes .flex-box .active {
  text-align: center;
  line-height: 300px;
}
.index .boxes .flex-box .text {
  display: none;
  color: #fff;
  opacity: 0;
  font-family: 'Times New Roman', Times, serif;
}
#about {
  background: linear-gradient(to right, #0cf 40%, #007d9c);
}
#skill {
  background: linear-gradient(to right, #00a2ff 40%, #00639c);
}
#works {
  background: linear-gradient(to right, #07f 40%, #004ba0);
}
#blog {
  background: linear-gradient(to right, #002fff 40%, #001b96);
}
#contact {
  background: linear-gradient(to right, #4c00ff 40%, #280086);
}
#box6 {
  background: linear-gradient(to right, #6800df 40%, #360074);
}
