.obj01 {
  color: white;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: block;
  z-index: 100;
  padding: 10px;
  width: 200px;
  border: 1px solid #fff;
  margin: 0 auto;
  margin-top: 100px;
  letter-spacing: 2px;
}
span {
  display: inline-block;
}
#bgc01 {
  z-index: -1;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #fff;
}
.boxes {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
.boxes .flex-box {
  display: flex;
}
.boxes .flex-box .box {
  display: inline-block;
  margin: 0;
  height: 300px;
  width: 100px;
  transform: perspective(350px);
  border: 1px solid rgba(24, 24, 88, 0.795);
}
#box1 {
  background: linear-gradient(to right, #0cf 40%, #007d9c);
}
#box2 {
  background: linear-gradient(to right, #00a2ff 40%, #00639c);
}
#box3 {
  background: linear-gradient(to right, #07f 40%, #004ba0);
}
#box4 {
  background: linear-gradient(to right, #002fff 40%, #001b96);
}
#box5 {
  background: linear-gradient(to right, #4c00ff 40%, #280086);
}
#box6 {
  background: linear-gradient(to right, #6800df 40%, #360074);
}
