.works {
  display: none;
  min-height: calc(100vh - 80px);
  width: 100%;
  padding-top: 30px;
}
.works .worksContener {
  text-align: center;
  overflow: scroll;
}
.works .worksContener .workText {
  position: relative;
  z-index: 10;
  padding-top: 20px;
  display: inline-block;
  height: 200px;
  width: 400px;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
}
.works .worksContener .workText i {
  font-size: 80px;
}
.works .worksContener .workPhoto {
  z-index: 0;
  position: relative;
  display: inline-block;
  height: 200px;
  width: 400px;
  background-color: pink;
}
