.works {
  display: none;
  min-height: calc(100vh - 80px);
  width: 100%;
  padding-top: 30px;
}
.works .worksContener {
  text-align: center;
  overflow: scroll;
}
.works .worksContener .workBox {
  padding-top: 20px;
  display: inline-block;
  height: 200px;
  width: 400px;
  text-align: center;
  margin: 60px 30px;
  color: #fff;
  border: 1px solid #fff;
}
.works .worksContener .workBox i {
  font-size: 80px;
}
